<ol class="no-margin breadcrumb bgWhite">
  <li><a href="#">Empresa cliente</a></li>
  <li><a href="#">Administração</a></li>
  <li class="active">Adicionar empresa cliente</li>
</ol>

<h2 class="margin-top-40 margin-bottom-25">{{fs.title}}</h2>

<div class="contentTabs no-select display-block overflow-hidden">
  <a href="#" class="Tabs" ng-class="{active:fs.tab===1}"> 
    <span class="label label-primary margin-right-5">1</span>
    Informações da empresa
  </a>
  <a href="#" class="Tabs"  ng-class="{active:fs.tab===2}">
    <span class="label label-primary margin-right-5">2</span>
    Informações do gestor
  </a>
  <a href="#" class="Tabs" ng-class="{active:fs.tab===3}">
    <span class="label label-primary margin-right-5">3</span>
    Condições de faturamento e entrega
  </a>
  <a href="#" class="Tabs" ng-class="{active:fs.tab===4}">
    <span class="label label-primary margin-right-5">4</span>
    Serviço intermediação
  </a>
</div>
<div class="bgWhite boxShadow padding-25 no-margin margin-bottom-25 transition">
  <form novalidate name="formInfos" ng-show="fs.tab === 1">
    <h3 class="no-margin margin-bottom-25">Informações da empresa</h3>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6"> 
        <label class="label-block">
          Razão social*
          <input type="text" ng-model="fs.fields.formInfos.razao" class="text w100 text-upper" maxlength="50" required>
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          Nome fantasia*
          <input type="text" ng-model="fs.fields.formInfos.name" class="text w100 text-upper" maxlength="50" required>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          CNPJ*
          <input type="text" ng-model="fs.fields.formInfos.cnpj" class="text w100 text-upper" ng-model="fs.initializedCpfCnpj" ui-br-cpfcnpj-mask required>
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          Inscrição estadual*
          <input type="text" ng-model="fs.fields.formInfos.inscricaoEstadual" ng-init="fs.fields.formInfos.inscricaoEstadual = 'Isento'" class="text w100 text-upper" maxlength="14" required>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Inscrição municipal
          <input type="text" ng-model="fs.fields.formInfos.inscricaoMunicipal" class="text w100 text-upper" maxlength="14">
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          CEP*
          <input type="text" ng-model="fs.fields.formInfos.zipcode" class="text w100 text-upper" ui-br-cep-mask required ng-blur="fs.getAdress('formInfos')">

          <a href="http://m.correios.com.br/movel/buscaCep.do" target="_blank" class="absolute bottom-10 right-5 label-link">Não sei o cep</a>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Endereço*
          <input type="text" ng-model="fs.fields.formInfos.street" class="text w100 text-upper" maxlength="50" required>
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="label-block">
          Número*
          <input type="text" class="text w100 text-upper" ng-model="fs.fields.formInfos.number" ui-number-mask="0" required>
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="label-block">
          Complemento
          <input type="text" ng-model="fs.fields.formInfos.complement" class="text w100 text-upper" maxlength="30">
        </label>
      </div>
    </div>

    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Bairro*
          <input type="text" ng-model="fs.fields.formInfos.district" class="text w100 text-upper" maxlength="50" required>
        </label>
      </div>
      <div class="no-margin col-md-4">
        <label class="label-block">
          Cidade*
          <input type="text" ng-model="fs.fields.formInfos.city" class="text w100 text-upper" maxlength="50" required>
        </label>
      </div>
      <div class="no-margin col-md-2">
        <label class="select w100">
          <span class="label-block">Estado*</span>
          <select ng-model="fs.fields.formInfos.state" class="col-xs-12 select-default" required>
            <option disabled selected hidden></option>
            <option ng-repeat="state in fs.states" value="{{state.Sigla}}">{{state.Nome}}</option>
          </select>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="select w100">
          <span class="label-block">Porte</span>
          <select ng-model="fs.fields.formInfos.size" class="col-xs-12 select-default" required>
            <option disabled selected hidden></option>  
            <option ng-repeat="size in fs.formInfosSizes" value="{{size.Id}}">{{size.Description}}</option>
          </select>
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="label-block">
          Telefone comercial*
          <input type="text" class="text w100 text-upper" ng-model="fs.fields.formInfos.tel" ui-br-phone-number required>
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="select w100">
          <span class="label-block">Segmento e/ou setor*</span>
          <select ng-model="fs.fields.formInfos.segmento" class="col-xs-12 select-default" required>
            <option disabled selected hidden></option>  
            <option>Agências de Comunicação/Publicidade</option>
            <option>Alimentos</option>
            <option>Artigos Esportivos</option>
            <option>Autopeças</option>
            <option>Auditoria</option>
            <option>Consultoria Geral</option>
            <option>Bancos</option>
            <option>Bebidas</option>
            <option>Açúcar e Álcool</option>
            <option>Contact Center</option>
            <option>Turismo</option>
            <option>Agricultura/Pecuária</option>
            <option>Jurídico</option>
            <option>Tecnologia</option>
            <option>Bancário/Financeiro</option>
            <option>Comercio Atacado</option>
            <option>Comercio Varejista</option>
            <option>Comunicação</option>
            <option>Construção Civil</option>
            <option>Contabilidade/Auditoria</option>
            <option>Diversão / Entretenimento</option>
            <option>Educação e Idiomas</option>
            <option>Telecomunicação</option>
            <option>Energia/Eletricidade</option>
            <option>Engenharia</option>
            <option>Eventos</option>
            <option>Farmacêutica</option>
            <option>Industrias</option>
            <option>Mineração</option>
            <option>Órgãos Públicos</option>
            <option>Petróleo, gás e combustíveis</option>
            <option>Prestadora de Serviços</option>
            <option>Saúde</option>
            <option>Setor de seguros</option>
            <option>Outros</option>
          </select>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="select w100">
          <span class="label-block">Categoria*</span>
          <select ng-model="fs.fields.formInfos.categoria" class="col-xs-12 select-default" required>
            <option disabled selected hidden></option>  
            <option>Silver</option>
            <option>Gold</option>
            <option>Platinum</option>
          </select>
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          Grupo empresarial
          <input type="text" class="text w100 text-upper" ng-model="fs.fields.formInfos.grupo" maxlength="50" ng-blur="fs.nextStep(formInfos.$valid, 2)">
        </label>
      </div>
    </div>

    <div class="no-margin row margin-top-25">
      <button type="reset" class="btn btn-default btn-lg pull-left">Cancelar</button>
      <button type="button" class="btn btn-success btn-lg margin-left-10 pull-right" ng-disabled="formInfos.$invalid" ng-click="fs.tab=2">Avançar</button>
    </div>      
  </form>
  <form novalidate name="formManager" ng-show="fs.tab === 2">
    <h3 class="no-margin margin-bottom-25">Informações do gestor</h3>

    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Nome*
          <input type="text" ng-model="fs.fields.formManager.name" class="text w100 text-upper" maxlength="50" required>
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          Área em que trabalha*
          <input type="text" ng-model="fs.fields.formManager.area" class="text w100 text-upper" maxlength="30" required>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Cargo*
          <input type="text" ng-model="fs.fields.formManager.cargo" class="text w100 text-upper" maxlength="30" required>
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          E-mail*
          <input type="email" ng-model="fs.fields.formManager.email" class="text w100 text-upper" maxlength="250" required>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Telefone comercial*
          <input type="text" ng-model="fs.fields.formManager.telComercial" class="text w100 text-upper" ui-br-phone-number required>
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          Telefone residencial*
          <input type="text" ng-model="fs.fields.formManager.telResidencial" class="text w100 text-upper" ui-br-phone-number required ng-blur="fs.nextStep(formManager.$valid, 3)">
        </label>
      </div>
    </div>
    
    <div class="no-margin row margin-top-25">
      <button type="button" class="btn btn-default btn-lg pull-left" ng-click="fs.tab=1">Voltar</button>
      <button type="button" class="btn btn-success btn-lg margin-left-10 pull-right" ng-disabled="formManager.$invalid" ng-click="fs.tab=3">Avançar</button>
    </div>
  </form>
  <form novalidate name="formBilling" ng-show="fs.tab === 3">
    <h3 class="no-margin margin-bottom-15">Informações do faturamento</h3>
    <div class="no-margin row margin-bottom-15">
      <label class="check-person">
        <input type="checkbox" class="ios-switch tinyswitch" ng-model="fs.switchAddress" ng-click="fs.getFormInfos(fs.fields.formInfos)">
        <div class="display-inline-block margin-right-5"><div></div></div>
        <span class="relative">Usar o mesmo endereço da empresa para faturamento</span>
      </label>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-3">
        <label class="label-block">
          CEP*
          <input type="text" class="text w100 text-upper" ng-model="fs.fields.formBilling.zipcode" ui-br-cep-mask ng-blur="fs.getAdress('formBilling')" required>
          <a href="http://m.correios.com.br/movel/buscaCep.do" class="absolute bottom-10 right-10 label-link" target="_blank">Não sei o cep</a>
        </label>
      </div>
      <div class="no-margin col-md-7">
        <label class="label-block">
          Endereço*
          <input type="text" ng-model="fs.fields.formBilling.street" class="text w100 text-upper" maxlength="100" required>
        </label>
      </div>
      <div class="no-margin col-md-2">
        <label class="label-block">
          Número*
          <input type="text" class="text w100 text-upper" ng-model="fs.fields.formBilling.number" ui-number-mask="0" required>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-25">
      <div class="no-margin col-md-3">
        <label class="label-block">
          Complemento
          <input type="text" ng-model="fs.fields.formBilling.complement" class="text w100 text-upper" maxlength="30">
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="label-block">
          Bairro*
          <input type="text" ng-model="fs.fields.formBilling.district" class="text w100 text-upper" maxlength="50" required>
        </label>
      </div>
      <div class="no-margin col-md-4">
        <label class="label-block">
          Cidade*
          <input type="text" ng-model="fs.fields.formBilling.city" class="text w100 text-upper" maxlength="50" required>
        </label>
      </div>
      <div class="no-margin col-md-2">
        <label class="select w100">
          <span class="label-block">Estado*</span>
          <select ng-model="fs.fields.formBilling.state" class="col-xs-12 select-default" required>
            <option disabled selected hidden></option>
            <option ng-repeat="state in fs.states" value="{{state.Sigla}}">{{state.Nome}}</option>
          </select>
        </label>
      </div>
    </div>
    <h3 class="no-margin margin-bottom-15">Responsáveis</h3>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-4">
        <label class="label-block">
          Responsável pelo faturamento*
          <input type="text" ng-model="fs.fields.formBilling.resp1" required class="text w100 text-upper" maxlength="250">
        </label>
      </div>
      <div class="no-margin col-md-4">
        <label class="label-block">
          E-mail do responsável pelo faturamento*
          <input type="email" ng-model="fs.fields.formBilling.resp1Email" class="text w100 text-upper" maxlength="250">
        </label>
      </div>
      <div class="no-margin col-md-4">
        <label class="label-block">
          Telefone do responsável*
          <input type="text" ng-model="fs.fields.formBilling.resp1Tel" class="text w100 text-upper" ui-br-phone-number required>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-25">
      <div class="no-margin col-md-4">
        <label class="label-block">
          2º Responsável pelo faturamento
          <input type="text" ng-model="fs.fields.formBilling.resp2" class="text w100 text-upper" maxlength="250">
        </label>
      </div>
      <div class="no-margin col-md-4">
        <label class="label-block">
          E-mail do 2º responsável pelo faturamento
          <input type="email" ng-model="fs.fields.formBilling.resp2Email" class="text w100 text-upper" maxlength="250" ng-blur="fs.nextStep(formBilling.$valid, 4)">
        </label>
      </div>
      <div class="no-margin col-md-4">
        <label class="label-block">
          Telefone do 2º responsável
          <input type="text" ng-model="fs.fields.formBilling.resp2Tel" class="text w100 text-upper" ui-br-phone-number>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-top-25">
      <button type="reset" class="btn btn-default btn-lg pull-left" ng-click="fs.tab=2">Voltar</button>
      <button type="button" class="btn btn-success btn-lg margin-left-10 pull-right" ng-disabled="formBilling.$invalid" ng-click="fs.tab=4">Avançar</button>
    </div>
  </form>
  <form novalidate name="formProduct" ng-show="fs.tab === 4">
    <h3 class="no-margin margin-bottom-25">Produto de interesse</h3>
    <div class="no-margin row margin-bottom-25">
      <div class="no-margin col-md-4">
        <label class="label-block">
          Nome
          <input type="text" ng-model="fs.fields.taxiProduct.name" class="text w100 text-upper" ng-init="fs.fields.taxiProduct.name = 'Wappa Táxi'" readonly required>
        </label>
      </div>
      <div class="no-margin col-md-4">
        <label class="label-block">
          Estimativa de gastos mensal (R$)
          <input type="text" class="text w100 text-upper" ng-model="fs.fields.taxiProduct.month" ui-money-mask maxlength="17" required>
        </label>
      </div>
      <div class="no-margin col-md-4">
        <label class="label-block">
          Limite de crédito (R$)
          <input type="text" class="text w100 text-upper" ng-model="fs.fields.taxiProduct.limit" ui-money-mask maxlength="17" required>
        </label>
      </div>
    </div>

    <h3 class="no-margin margin-bottom-25">Taxas, prazos sugeridos e total mensal</h3>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Tipo de contrato
          <input type="text" class="text w100 text-upper" ng-model="fs.fields.taxiProduct.contract" ng-init="fs.fields.taxiProduct.contract='Reembolso'" readonly required>
          </select>
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="select w100">
          <span class="label-block">Prazo</span>
          <select 
            ng-model="fs.fields.taxiProduct.prazo" 
            class="col-xs-12 select-default"
            ng-options="option.value as option.name for option in fs.days"
            required>
            <option disabled selected hidden></option>
          </select>
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="select w100">
          <span class="label-block">Dia de redundância</span>
          <select 
            ng-model="fs.fields.taxiProduct.day"
            class="col-xs-12 select-default"
            ng-options="option.value as option.name for option in fs.daysMonth"
            ng-init="fs.fields.taxiProduct.day=1"
            required>
          </select>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-4">
        <label class="select w100">
          <span class="label-block">Tipo de taxa</span>
          <select
            ng-model="fs.fields.taxiProduct.typeTax"
            class="col-xs-12 select-default"
            ng-options="option.Description as option.Description for option in fs.taxiTaxTypes"
            ng-init="fs.fields.taxiProduct.typeTax='Percentual'"
            required>
          </select>
        </label>
      </div>
      <div class="no-margin col-md-2">
        <label class="label-block">
          Taxa
          <input type="text" class="text w100 text-upper" ng-model="fs.fields.taxiProduct.tax" ui-percentage-mask="2" maxlength="8" required>
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="label-block">
          Início período
          <div class="no-margin row">
            <div class="no-margin col-md-5 no-padding">
              <input type="text" class="text w100 text-upper" ng-model="fs.fields.taxiProduct.begin" ui-number-mask="0" maxlength="2">
            </div>
            <div class="no-margin col-md-2 no-padding text-center">
              <div class="margin-top-15">e</div>
            </div>
            <div class="no-margin col-md-5 no-padding">
              <input type="text" class="text w100 text-upper" ng-model="fs.fields.taxiProduct.end" ui-number-mask="0" maxlength="2">
            </div>
          </div>
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="select w100">
          <span class="label-block">Fechar em (dias)</span>
          <select ng-model="fs.fields.taxiProduct.close" class="col-xs-12 select-default">
            <option ng-repeat="day in fs.days" val="{{day}}">{{day}}</option>
          </select>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-5">
        <label class="select w100">
          <span class="label-block">Responsável pós-venda</span>
          <select
            ng-model="fs.fields.taxiProduct.responsavelPosVenda"
            class="col-xs-12 select-default" 
            required>
          </select>
        </label>
      </div>
      <div class="no-margin col-md-5">
        <label class="select w100">
          <span class="label-block">Responsável comercial</span>
          <select
            ng-model="fs.fields.taxiProduct.responsavelComercial"
            class="col-xs-12 select-default" 
            required>
          </select>
        </label>
      </div>
      <div class="no-margin col-md-2">
        <input id="enviarBoleto" type="checkbox" class="checkbox">
        <label for="enviarBoleto" class="margin-top-25">Enviar boleto</label>
      </div>
    </div>
    <div class="no-margin row margin-top-25">
      <button type="reset" class="btn btn-default btn-lg pull-left" ng-click="fs.tab=3">Voltar</button>
      <button type="submit" class="btn btn-primary btn-lg margin-left-10 pull-right" ng-invalid="formProduct.$invalid">Concluir o cadastro</button>
    </div>
  </form>
</div>