<ol class="no-margin breadcrumb bgWhite">
  <li><a href="#">Empresa cliente</a></li>
  <li><a href="#">Administração</a></li>
  <li class="active">Adicionar empresa cliente</li>
</ol>

<h2 class="margin-top-40 margin-bottom-25">{{fs.title}}</h2>

<div class="contentTabs no-select display-block overflow-hidden">
  <a href="#" class="Tabs" ng-class="{active:fs.tab===1}"> 
    <span class="label label-primary margin-right-5">1</span>
    Informações da empresa
  </a>
  <a href="#" class="Tabs"  ng-class="{active:fs.tab===2}">
    <span class="label label-primary margin-right-5">2</span>
    Informações do gestor
  </a>
  <a href="#" class="Tabs" ng-class="{active:fs.tab===3}">
    <span class="label label-primary margin-right-5">3</span>
    Condições de faturamento e entrega
  </a>
  <a href="#" class="Tabs" ng-class="{active:fs.tab===4}">
    <span class="label label-primary margin-right-5">4</span>
    Preço do serviço intermediação
  </a>
</div>
<div class="bgWhite boxShadow padding-25 no-margin margin-bottom-25 transition">
  <form novalidate name="formInfos" ng-show="fs.tab === 1">
    <h3 class="no-margin margin-bottom-25">Informações da empresa</h3>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6"> 
        <label class="label-block">
          Razão social*
          <input type="text" ng-model="fs.fields.teste1" class="text w100" maxlength="50" required>
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          Nome fantasia*
          <input type="text" ng-model="fs.fields.teste2" class="text w100" maxlength="50" required>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          CNPJ*
          <input type="text" ng-model="fs.fields.teste3" class="text w100" ng-model="fs.initializedCpfCnpj" ui-br-cpfcnpj-mask required>
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          Inscrição estadual
          <input type="text" ng-model="fs.fields.teste4" class="text w100" maxlength="14">
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Inscrição municipal
          <input type="text" ng-model="fs.fields.teste5" class="text w100" maxlength="14">
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          CEP*
          <input type="text" ng-model="fs.fields.formInfos.zipcode" class="text w100" ui-br-cep-mask required ng-blur="fs.getAdress('formInfos')">

          <a href="http://m.correios.com.br/movel/buscaCep.do" target="_blank" class="absolute bottom-10 right-5 label-link">Não sei o cep</a>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Endereço*
          <input type="text" ng-model="fs.fields.formInfos.street" class="text w100" maxlength="50" required>
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="label-block">
          Número*
          <input type="text" class="text w100" ng-model="fs.fields.formInfos.number" ui-number-mask="0" required>
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="label-block">
          Complemento
          <input type="text" ng-model="fs.fields.formInfos.complement" class="text w100" maxlength="30">
        </label>
      </div>
    </div>

    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Bairro*
          <input type="text" ng-model="fs.fields.formInfos.district" class="text w100" maxlength="50" required>
        </label>
      </div>
      <div class="no-margin col-md-4">
        <label class="label-block">
          Cidade*
          <input type="text" ng-model="fs.fields.formInfos.city" class="text w100" maxlength="50" required>
        </label>
      </div>
      <div class="no-margin col-md-2">
        <label class="select w100">
          <span class="label-block">Estado*</span>
          <select ng-model="fs.fields.formInfos.state" class="col-xs-12 select-default" required>
            <option disabled selected hidden></option>
            <option ng-repeat="state in fs.states" value="{{state.Sigla}}">{{state.Nome}}</option>
          </select>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="select w100">
          <span class="label-block">Porte</span>
          <select ng-model="fs.fields.formInfos.size" class="col-xs-12 select-default">
            <option disabled selected hidden></option>  
            <option ng-repeat="size in fs.formInfosSizes" value="{{size.Id}}">{{size.Description}}</option>
          </select>
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="label-block">
          Quantidade de funcionários
          <input type="text" class="text w100" ng-model="fs.fields.teste13" ui-number-mask="0">
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="label-block">
          Telefone comercial*
          <input type="text" class="text w100" ng-model="fs.fields.teste14" ui-br-phone-number required>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Segmento e/ou setor
          <input type="text" class="text w100" ng-model="fs.fields.teste15" maxlength="50">
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          Categoria
          <input type="text" class="text w100" ng-model="fs.fields.teste16" maxlength="50" ng-blur="fs.nextStep(formInfos.$valid, 2)">
        </label>
      </div>
    </div>

    <div class="no-margin row margin-top-25">
      <button type="reset" class="btn btn-default btn-lg pull-left">Cancelar</button>
      <button type="button" class="btn btn-success btn-lg margin-left-10 pull-right" ng-disabled="formInfos.$invalid" ng-click="fs.tab=2">Avançar</button>
    </div>      
  </form>
  <form novalidate name="formManager" ng-show="fs.tab === 2">
    <h3 class="no-margin margin-bottom-25">Informações do gestor</h3>

    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Nome*
          <input type="text" ng-model="fs.fields.teste17" class="text w100" maxlength="50" required>
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          Área em que trabalha*
          <input type="text" ng-model="fs.fields.teste18" class="text w100" maxlength="30" required>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Cargo*
          <input type="text" ng-model="fs.fields.teste19" class="text w100" maxlength="30" required>
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          Telefone comercial
          <input type="text" ng-model="fs.fields.teste20" class="text w100" ui-br-phone-number>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          E-mail*
          <input type="email" ng-model="fs.fields.teste21" class="text w100" maxlength="250" required>
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          CEP
          <input type="text" class="text w100" ng-model="fs.fields.formManager.zipcode" ui-br-cep-mask ng-blur="fs.getAdress('formManager')">
          <a href="http://m.correios.com.br/movel/buscaCep.do" target="_blank" class="absolute bottom-10 right-5 label-link">Não sei o cep</a>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Endereço
          <input type="text" ng-model="fs.fields.formManager.street" class="text w100" maxlength="100">
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="label-block">
          Número
          <input type="text" class="text w100" ng-model="fs.fields.formManager.number" ui-number-mask="0">
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="label-block">
          Complemento
          <input type="text" ng-model="fs.fields.formManager.complement" class="text w100" maxlength="30">
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Bairro
          <input type="text" ng-model="fs.fields.formManager.district" class="text w100" maxlength="50">
        </label>
      </div>
      <div class="no-margin col-md-4">
        <label class="label-block">
          Cidade
          <input type="text" ng-model="fs.fields.formManager.city" class="text w100" maxlength="50">
        </label>
      </div>
      <div class="no-margin col-md-2">
        <label class="select w100">
          <span class="label-block">Estado</span>
          <select ng-model="fs.fields.formManager.state" class="col-xs-12 select-default" ng-blur="fs.nextStep(formManager.$valid, 3)">
            <option disabled selected hidden></option>
            <option ng-repeat="state in fs.states" value="{{state.Sigla}}">{{state.Nome}}</option>
          </select>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-top-25">
      <button type="button" class="btn btn-default btn-lg pull-left" ng-click="fs.tab=1">Voltar</button>
      <button type="button" class="btn btn-success btn-lg margin-left-10 pull-right" ng-disabled="formManager.$invalid" ng-click="fs.tab=3">Avançar</button>
    </div>
  </form>
  <form novalidate name="formBilling" ng-show="fs.tab === 3">
    <h3 class="no-margin margin-bottom-15">Informações do faturamento</h3>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-3">
        <label class="label-block">
          CEP
          <input type="text" class="text w100" ng-model="fs.fields.formBilling.zipcode" ui-br-cep-mask ng-blur="fs.getAdress('formBilling')">
          <a href="http://m.correios.com.br/movel/buscaCep.do" class="absolute bottom-10 right-10 label-link" target="_blank">Não sei o cep</a>
        </label>
      </div>
      <div class="no-margin col-md-7">
        <label class="label-block">
          Enredeço
          <input type="text" ng-model="fs.fields.formBilling.street" class="text w100" maxlength="100">
        </label>
      </div>
      <div class="no-margin col-md-2">
        <label class="label-block">
          Número
          <input type="text" class="text w100" ng-model="fs.fields.formBilling.number" ui-number-mask="0">
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-25">
      <div class="no-margin col-md-3">
        <label class="label-block">
          Complemento
          <input type="text" ng-model="fs.fields.formBilling.complement" class="text w100" maxlength="30">
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="label-block">
          Bairro
          <input type="text" ng-model="fs.fields.formBilling.district" class="text w100" maxlength="50">
        </label>
      </div>
      <div class="no-margin col-md-4">
        <label class="label-block">
          Cidade
          <input type="text" ng-model="fs.fields.formBilling.city" class="text w100" maxlength="50">
        </label>
      </div>
      <div class="no-margin col-md-2">
        <label class="select w100">
          <span class="label-block">Estado*</span>
          <select ng-model="fs.fields.formBilling.state" class="col-xs-12 select-default" required>
            <option disabled selected hidden></option>
            <option ng-repeat="state in fs.states" value="{{state.Sigla}}">{{state.Nome}}</option>
          </select>
        </label>
      </div>
    </div>
    <h3 class="no-margin margin-bottom-15">Responsáveis</h3>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Responsável pelo faturamento
          <input type="text" ng-model="fs.fields.teste36" class="text w100" maxlength="250">
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          E-mail do responsável pelo faturamento
          <input type="email" ng-model="fs.fields.teste37" class="text w100" maxlength="250">
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-25">
      <div class="no-margin col-md-6">
        <label class="label-block">
          2º Responsável pelo faturamento
          <input type="text" ng-model="fs.fields.teste38" class="text w100" maxlength="250">
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          E-mail do 2º responsável pelo faturamento
          <input type="email" ng-model="fs.fields.teste39" class="text w100" maxlength="250" ng-blur="fs.nextStep(formBilling.$valid, 4)">
        </label>
      </div>
    </div>
    <div class="no-margin row margin-top-25">
      <button type="reset" class="btn btn-default btn-lg pull-left" ng-click="fs.tab=2">Voltar</button>
      <button type="button" class="btn btn-success btn-lg margin-left-10 pull-right" ng-disabled="formBilling.$invalid" ng-click="fs.tab=4">Avançar</button>
    </div>
  </form>
  <form novalidate name="formProduct" ng-show="fs.tab === 4">
    <h3 class="no-margin margin-bottom-25">Produto de interesse</h3>
    <div class="no-margin row margin-bottom-25">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Nome
          <input type="text" ng-model="fs.fields.taxiProduct.name" class="text w100" value="Wappa Táxi" readonly>
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          Benefício mensal (R$)
          <input type="text" class="text w100" ng-model="fs.fields.taxiProduct.month" ui-money-mask maxlength="17">
        </label>
      </div>
    </div>

    <h3 class="no-margin margin-bottom-25">Taxas e prazos sugeridos e total mensal</h3>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="select w100">
          <span class="label-block">Tipo de contrato</span>
          <select ng-model="fs.fields.taxiProduct.contract" class="col-xs-12 select-default">
            <option disabled selected hidden></option>
            <option ng-repeat="contract in fs.taxiContractTypes" value="contract.Description">{{contract.Description}}</option>
          </select>
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="select w100">
          <span class="label-block">Prazo</span>
          <select ng-model="fs.fields.taxiProduct.prazo" class="col-xs-12 select-default">
            <option ng-repeat="day in fs.days" val="{{day}}">{{day}}</option>
          </select>
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="label-block">
          Dia redundância
          <input type="text" class="text w100" ng-model="fs.fields.taxiProduct.day" ui-number-mask="0" maxlength="2">
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-4">
        <label class="select w100">
          <span class="label-block">Tipo de taxa</span>
          <select ng-model="fs.fields.taxiProduct.typeTax" class="col-xs-12 select-default">
            <option disabled selected hidden></option>
            <option ng-repeat="type in fs.taxiTaxTypes">{{type.Description}}</option>
          </select>
        </label>
      </div>
      <div class="no-margin col-md-2">
        <label class="label-block">
          Taxa
          <input type="text" class="text w100" maxlength="5" ng-model="fs.fields.taxiProduct.tax" ui-percentage-mask="0">
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="label-block">
          Início período
          <div class="no-margin row">
            <div class="no-margin col-md-5 no-padding">
              <input type="text" class="text w100" ng-model="fs.fields.taxiProduct.begin" ui-number-mask="0" maxlength="2">
            </div>
            <div class="no-margin col-md-2 no-padding text-center">
              <div class="margin-top-15">e</div>
            </div>
            <div class="no-margin col-md-5 no-padding">
              <input type="text" class="text w100" ng-model="fs.fields.taxiProduct.end" ui-number-mask="0" maxlength="2">
            </div>
          </div>
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="select w100">
          <span class="label-block">Fechar em (dias)</span>
          <select ng-model="fs.fields.taxiProduct.close" class="col-xs-12 select-default">
            <option ng-repeat="day in fs.days" val="{{day}}">{{day}}</option>
          </select>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-top-25">
      <button type="reset" class="btn btn-default btn-lg pull-left" ng-click="fs.tab=3">Voltar</button>
      <button type="submit" class="btn btn-primary btn-lg margin-left-10 pull-right" ng-invalid="formProduct.$invalid">Concluir o cadastro</button>
    </div>
  </form>
</div>