<ol class="no-margin breadcrumb bgWhite">
  <li><a href="#">Empresa Cliente</a></li>
  <li><a href="#">Administração</a></li>
  <li class="active">Adicionar Empresa Cliente</li>
</ol>

<h2 class="margin-top-25 margin-bottom-15">{{fs.title}}</h2>

<div class="contentTabs no-select display-block">
  <a href="#" class="Tabs" ng-click="fs.tab = 1" ng-class="{active:fs.tab===1}">Empresa</a>
  <a href="#" class="Tabs" ng-click="fs.tab = 2" ng-class="{active:fs.tab===2}">Identificação - Qualificação do Signatário</a>
  <a href="#" class="Tabs" ng-click="fs.tab = 3" ng-class="{active:fs.tab===3}">Gestor</a>
  <a href="#" class="Tabs" ng-click="fs.tab = 4" ng-class="{active:fs.tab===4}">Condição de Faturamento e Entrega</a>
  <a href="#" class="Tabs" ng-click="fs.tab = 5" ng-class="{active:fs.tab===5}">Preço do Serviço Intermediação</a>
  <a href="#" class="Tabs" ng-click="fs.tab = 6" ng-class="{active:fs.tab===6}">Informações Adicionais</a>
</div>
<div class="bgWhite boxShadow padding-25 no-margin margin-bottom-25 transition">

  <div ng-show="fs.tab === 1">
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6"> 
        <label class="label-block">
          Nome da razão social*
          <input type="text" class="text w100" required>
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          Nome Fantasia*
          <input type="text" class="text w100" required>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          CNPJ da Empresa*
          <input type="text" class="text w100" required>
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          Inscrição Estadual
          <input type="text" class="text w100" required>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Inscrição Municipal
          <input type="text" class="text w100" required>
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          CEP*
          <input type="text" class="text w100" required>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Endereço*
          <input type="text" class="text w100" required>
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="label-block">
          Número
          <input type="number" class="text w100" required>
        </label>
      </div>
      <div class="no-margin col-md-3">
        <label class="label-block">
          Complemento
          <input type="text" class="text w100" required>
        </label>
      </div>
    </div>

    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Bairro*
          <input type="text" class="text w100" required>
        </label>
      </div>
      <div class="no-margin col-md-5">
        <label class="label-block">
          Cidade*
          <input type="number" class="text w100" required>
        </label>
      </div>
      <div class="no-margin col-md-1">
        <label class="select w100">
          <span class="label-block">Estado*</span>
          <select class="col-xs-12 select-default" required="">
            <option value="">SP</option>
          </select>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Telefone Comercial 1
          <input type="text" class="text w100" required>
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          Telefone Comercial 2
          <input type="text" class="text w100" required>
        </label>
      </div>
    </div>
    <div class="no-margin row margin-bottom-15">
      <div class="no-margin col-md-6">
        <label class="label-block">
          Quantidade de Funcionários
          <input type="number" class="text w100" required>
        </label>
      </div>
      <div class="no-margin col-md-6">
        <label class="label-block">
          Quantidade de Funcionários com aparelho celular*
          <input type="number" class="text w100" required>
        </label>
      </div>
    </div>
  </div>
  <div ng-show="fs.tab === 2">
    tab2
  </div>
  <div ng-show="fs.tab === 3">
    tab3
  </div>
  <div ng-show="fs.tab === 4">
    tab4
  </div>
  <div ng-show="fs.tab === 5">
    tab5
  </div>
  <div ng-show="fs.tab === 6">
    tab6
  </div>
</div>