<h3 class="no-margin margin-bottom-15">Informações do faturamento</h3>
<div class="no-margin row margin-bottom-15">
  <div class="no-margin col-md-3">
    <label class="label-block">
      CEP
      <input type="text" class="text w100" maxlength="8">
      <a href="" class="absolute bottom-10 right-10">Buscar o CEP</a>
    </label>
  </div>
  <div class="no-margin col-md-7">
    <label class="label-block">
      Enredeço
      <input type="text" class="text w100" maxlength="100">
    </label>
  </div>
  <div class="no-margin col-md-2">
    <label class="label-block">
      Número
      <input type="number" class="text w100" maxlength="10">
    </label>
  </div>
</div>
<div class="no-margin row margin-bottom-25">
  <div class="no-margin col-md-3">
    <label class="label-block">
      Complemento
      <input type="text" class="text w100" maxlength="30">
    </label>
  </div>
  <div class="no-margin col-md-3">
    <label class="label-block">
      Bairro
      <input type="text" class="text w100" maxlength="50">
    </label>
  </div>
  <div class="no-margin col-md-4">
    <label class="label-block">
      Cidade*
      <input type="text" class="text w100" maxlength="50">
    </label>
  </div>
  <div class="no-margin col-md-2">
    <label class="select w100">
      <span class="label-block">Estado*</span>
      <select class="col-xs-12 select-default" required>
        <option disabled selected hidden>Selecione</option>
        <option ng-repeat="state in fs.states" value="{{state.Sigla}}">{{state.Nome}}</option>
      </select>
    </label>
  </div>
</div>
<h3 class="no-margin margin-bottom-15">Responsáveis</h3>
<div class="no-margin row margin-bottom-15">
  <div class="no-margin col-md-6">
    <label class="label-block">
      Responsável pelo faturamento
      <input type="text" class="text w100" maxlength="250">
    </label>
  </div>
  <div class="no-margin col-md-6">
    <label class="label-block">
      E-mail do responsável pelo faturamento
      <input type="text" class="text w100" maxlength="250">
    </label>
  </div>
</div>
<div class="no-margin row margin-bottom-25">
  <div class="no-margin col-md-6">
    <label class="label-block">
      2º Responsável pelo faturamento
      <input type="text" class="text w100" maxlength="250">
    </label>
  </div>
  <div class="no-margin col-md-6">
    <label class="label-block">
      E-mail do 2º responsável pelo faturamento
      <input type="text" class="text w100" maxlength="250">
    </label>
  </div>
</div>
<h3 class="no-margin margin-bottom-15">Informações da cobrança</h3>
<div class="no-margin row margin-bottom-15">
  <div class="no-margin col-md-3">
    <label class="label-block">
      CEP
      <input type="text" class="text w100" required>
      <a href="" class="absolute bottom-10 right-10">Buscar o CEP</a>
    </label>
  </div>
  <div class="no-margin col-md-7">
    <label class="label-block">
      Enredeço
      <input type="text" class="text w100" maxlength="8">
    </label>
  </div>
  <div class="no-margin col-md-2">
    <label class="label-block">
      Número
      <input type="number" class="text w100" maxlength="10">
    </label>
  </div>
</div>
<div class="no-margin row margin-bottom-15">
  <div class="no-margin col-md-3">
    <label class="label-block">
      Complemento
      <input type="text" class="text w100" maxlength="30">
    </label>
  </div>
  <div class="no-margin col-md-3">
    <label class="label-block">
      Bairro
      <input type="text" class="text w100" maxlength="50">
    </label>
  </div>
  <div class="no-margin col-md-4">
    <label class="label-block">
      Cidade*
      <input type="text" class="text w100" maxlength="50">
    </label>
  </div>
  <div class="no-margin col-md-2">
    <label class="select w100">
      <span class="label-block">Estado*</span>
      <select class="col-xs-12 select-default" required>
        <option disabled selected hidden>Selecione</option>
        <option ng-repeat="state in fs.states" value="{{state.Sigla}}">{{state.Nome}}</option>
      </select>
    </label>
  </div>
</div>
<div class="no-margin row margin-top-25">
  <button type="reset" class="btn btn-default btn-lg pull-left" ng-click="fs.tab=2">Voltar</button>
  <button type="button" class="btn btn-success btn-lg margin-left-10 pull-right" ng-click="fs.tab=4">Avançar</button>
</div>